<a href="https://colab.research.google.com/github/knagabharathi/Python/blob/main/LIST_1D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#CRUD

#CREATE
#print(x)
'''
append - add a single value at last
insert - add value at any where in between(so move other values to new index so - Costliest operation)
Extend - add multiple values
'''

#x.append (80)
#x.insert(1,90)
#x.extend(20,30,40)

print(x)

['2', '3', '4', '5', '6']

In [34]:
#Delete

'''
pop - remove the value Return the value (Becoz we dont know what we are going to remove )(Access the value - it returs)
Remove - Only remove first occurance of that value
'''

a= x.pop()
print(a)   # delete the last value if nothing given

a = x.pop(3) # delete the third value using index

x.remove(30)  # delete the first 30 occurance

x.remove()

80

In [ ]:
#LIST

''' Question 1 - runs_virat = [67, 54, 12, 34, 77, 89, 101, 120] In runs_virat ->
Calculate, sum, avg, max and min runs.
Without using any internal functions. You can use the length function. '''

In [4]:
def length(a):
  cnt = 0

  for i in a:
    cnt+=1
  return cnt

x = [10,20,30,40,50,60,70,80]
length(x)

8

In [6]:
def sum_val(a):
  sum = 0
  for i in a:
    sum += i
  return sum

s = sum_val(x)
print(s)

360

In [23]:
def max_val(a):
  x = a[0]
  l = length(a)

  for i in range(1,l):
    if a[i] > x:
      x = a[i]

  return x

print(max_val(x))

80

In [18]:
def min_val(a):
  l = length(a)
  min = a[0]
  for i in range(1,l):
    if a[i] < min:
      min = a[i]
  return min

print(min_val(x))

10

In [15]:
def avg_val(a):
  l = length(a)
  s = sum_val(a)
  avg= s/l
  return avg


print(avg_val(x))

45.0

In [25]:

l = length(x)
s = sum_val(x)
a = avg_val(x)
mx= max_val(x)
mn = min_val(x)

print('length of list ',l)

print('sum of list ',s)

print('avg of list ',a)

print('Max of list ',mx)

print('Min of list ',mn)

length of list  8
sum of list  360
avg of list  45.0
Max of list  80
Min of list  10

In [5]:
a = input()
x = a.split(" ")



print(len(x))

2 3 4 5 6
5