<a href="https://colab.research.google.com/github/knagabharathi/Python/blob/main/Pandas_1_Mckinsey_life_expectancy_Insights_Additional_prbm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1. Correct way to form a dataframe?

In [ ]:
df = pd.DataFrame([[1, 2], ["Ram", "Shyam"], ["IT", "Ops"]], columns = ["emp_id", "name", "dept"]) # error 2 row 3 column
df1 = pd.DataFrame([[1, "Ram", "IT"], [2, "Shyam", "Ops"]], columns = ["emp_id", "name", "dept"])
df2= pd.DataFrame([1, "Ram", "IT"], columns = ["emp_id", "name", "dept"]) # error Shape of passed values is (3, 1), indices imply (3, 3)
df3 = pd.DataFrame({'emp_id':[1, 2], 'name': ['Ram', 'Shyam'], 'dept':['IT', 'Ops']})

#Q2. As a Series

You're working on collecting the text data for a Natural Language Processing(NLP) project. You come up with the idea of storing the unique words (case-sensitive) with their frequency in a pandas series object.

You are given the raw data in form of a string, Write a function which can take a string as an input and return the unique words and the corresponding frequency in form of a Pandas Series object. The indices of the series should be the unique words and the values should be the frequency of those unique words.

In [18]:
s = 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
df = pd.DataFrame(s.split(' '))

In [21]:
df.value_counts().sort_index()

How          1
a            2
chuck        2
could        1
if           1
much         1
wood         2
woodchuck    2
would        1
dtype: int64

#Q3. Delete Constant values - columns

Given a dataframe named df, what will be the output of the following code:

for x in df.columns:
    if df[x].nunique()==1:
        df.drop(x, axis=1, inplace=True)
Note: .nunique() returns the number of unique elements.

In [24]:
df3 = pd.DataFrame({'emp_id':[1, 2], 'name': ['Ram', 'Shyam'], 'dept':['IT', 'Ops'],'fd': ['Ram', 'Ram'],'kd': ['Shyam', 'Shyam']})

In [25]:
df3

   emp_id   name dept   fd     kd
0       1    Ram   IT  Ram  Shyam
1       2  Shyam  Ops  Ram  Shyam

In [33]:
for x in df3.columns:
    if df3[x].nunique()==1:
        df3.drop(x, axis=1, inplace=True)

In [34]:
df3

   emp_id   name dept
0       1    Ram   IT
1       2  Shyam  Ops

#Q4. Add new columns

We want to add a new column named 'imported' (Either we can add it at the end or at the given position of the column)

We have a list called imported of length 53940 having values either 0 or 1 ; Here, values represent if the diamond is imported or not (0 = not imported, 1 = imported).

Which of the following statements are true?

a. diamond["imported"] = imported will add column named "imported" to diamond at the last position

b. diamond.insert(3, "imported", imported) will add column named "imported" to diamond at column index 3

c. diamond.insert(10, "imported", imported) will add column named "imported" at the last position

#a , b, c are right

#Q5. Data Extraction

Given the following data frame "df", which of the following command(s) is/are the correct way to extract the mentioned columns in the order: time, total_bill, tip?

In [35]:
df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/002/276/original/tips.csv?1645193273')

In [38]:
df.iloc[:,0:2]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

#Q7. Get a hold of your data

Given a dataframe, a list of rows in the format of list of lists, and a number, "out".

Perform the following operations:

Append the rows from the list of lists to the dataframe
After appending, remove the row at the out position

In [ ]:
#data = list of rows
#out - index to be removed

for row in data:
  df.loc[len(df)] =row

  # Remove the out index row
  df=df.drop(out,axis=0)

#Q4. Employee records

Complete the function del_dupl() that

Deletes the records of a given name, where name is a string.
Deletes the duplicate p_id rows and keeps only the last entry as it contains the latest employment details of the candidate.
Deletes the column p_id as the organization is moving to another fintech app, and returns this dataframe.

In [1]:
import numpy as np, pandas as pd

In [45]:
data = {'Name':["Sam","Mark","Client",'Sam','Tiger','Sam'],'employment_type':['fte','fte','intern','fte','freelancer','fte'],'department':['people','marketing','marketing','tech','marketing','tech'],'p_id':[1,2,3,1,4,1]}
df = pd.DataFrame(data)

In [46]:
ind = df[df['Name']=='Mark'].index

In [47]:
df.drop(ind, inplace= True)

In [48]:
df.drop(['p_id'],axis=1,inplace=True)

In [49]:
df.drop_duplicates(subset=['Name'],keep='last',inplace=True)

In [50]:
df

     Name employment_type department
2  Client          intern  marketing
4   Tiger      freelancer  marketing
5     Sam             fte       tech

#Q5. Customers in an age range

Given a data frame as shown below, return the series of male names in the age group of 23-30 (inclusive of both 23 and 30).

In [51]:
data= {'name':["Mark","Ram","Dev"], "profession":['dev','mle','mle'],"gender":['male','male','male'], "age":[21,20,30],"review":['need improvement','Can be improved','Scope of improvement'],"rating":[10,5,7]}
df = pd.DataFrame(data)

In [53]:
df

   name profession gender  age                review  rating
0  Mark        dev   male   21      need improvement      10
1   Ram        mle   male   20       Can be improved       5
2   Dev        mle   male   30  Scope of improvement       7

In [52]:
df['age'].between(23,30)

0    False
1    False
2     True
Name: age, dtype: bool

In [55]:
df[df['age'].between(23,30)]['name']

2    Dev
Name: name, dtype: object

#Q6. The island of slice

In [57]:
data = {'name': ['Luffy', 'Chopper', 'Zoro', 'Sanji'], 'marks': [15,89,33,32]}
x = 33
df = pd.DataFrame(data)

In [59]:
df

      name  marks
0    Luffy     15
1  Chopper     89
2     Zoro     33
3    Sanji     32

In [61]:
df[df['marks']>x]['name']

1    Chopper
Name: name, dtype: object

In [6]:
customer = {'cust_id': [101, 102, 103, 104], 'name': ['rick', 'morty', 'pickle', 'jerry']}
order = {'order_id':['OR1', 'OR3', 'OR23', 'OR42'], 'cust_id' : [102, 105, 101, 102], 'amount': [1200, 650, 120, 989]}

cus = pd.DataFrame(customer)
ord = pd.DataFrame(order)

In [7]:
cus

   cust_id    name
0      101    rick
1      102   morty
2      103  pickle
3      104   jerry

In [8]:
ord

  order_id  cust_id  amount
0      OR1      102    1200
1      OR3      105     650
2     OR23      101     120
3     OR42      102     989

In [13]:
merged_df = pd.merge(cus,ord,on='cust_id',how='left')


sum_amount = merged_df[merged_df['name']=='morty']['amount'].sum()
sum_amount

2189.0

#Q9. Delete Duplicates

In [41]:
df= pd.read_csv('titanic.csv')

In [42]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town,pclass_1,price,gender
0,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton,3,7.9250,female
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg,1,71.2833,female
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton,3,7.9250,female
3,0,3,male,NaN,0,0,8.4583,Q,Third,True,Queenstown,3,8.4583,male
4,1,2,female,14.0,1,0,30.0708,C,Second,False,Cherbourg,2,30.0708,female
5,0,3,male,NaN,0,0,8.4583,Q,Third,True,Queenstown,3,8.4583,male
6,0,1,male,54.0,0,0,51.8625,S,First,True,Southampton,1,51.8625,male
7,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg,1,71.2833,female
8,1,3,female,27.0,0,2,11.1333,S,Third,False,Southampton,3,11.1333,female
9,1,2,female,14.0,1,0,30.0708,C,Second,False,Cherbourg,2,30.0708,female

In [ ]:
titanic.T.drop_duplicates(keep="first")
titanic.drop_duplicates(keep ="first")
titanic.drop_duplicates(keep ="last")

In [45]:
df.T.drop_duplicates(keep="first")

,0,1,2,3,4,5,6,7,8,9
survived,1,1,1,0,1,0,0,1,1,1
pclass,3,1,3,3,2,3,1,1,3,2
sex,female,female,female,male,female,male,male,female,female,female
age,26.0,38.0,26.0,NaN,14.0,NaN,54.0,38.0,27.0,14.0
sibsp,0,1,0,0,1,0,0,1,0,1
parch,0,0,0,0,0,0,0,0,2,0
fare,7.925,71.2833,7.925,8.4583,30.0708,8.4583,51.8625,71.2833,11.1333,30.0708
embarked,S,C,S,Q,C,Q,S,C,S,C
class,Third,First,Third,Third,Second,Third,First,First,Third,Second
adult_male,False,False,False,True,False,True,True,False,False,False
embark_town,Southampton,Cherbourg,Southampton,Queenstown,Cherbourg,Queenstown,Southampton,Cherbourg,Southampton,Cherbourg

In [46]:
df.drop_duplicates(keep ="first")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town,pclass_1,price,gender
0,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton,3,7.9250,female
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg,1,71.2833,female
3,0,3,male,NaN,0,0,8.4583,Q,Third,True,Queenstown,3,8.4583,male
4,1,2,female,14.0,1,0,30.0708,C,Second,False,Cherbourg,2,30.0708,female
6,0,1,male,54.0,0,0,51.8625,S,First,True,Southampton,1,51.8625,male
8,1,3,female,27.0,0,2,11.1333,S,Third,False,Southampton,3,11.1333,female

In [47]:
df.drop_duplicates(keep ="last")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town,pclass_1,price,gender
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton,3,7.9250,female
5,0,3,male,NaN,0,0,8.4583,Q,Third,True,Queenstown,3,8.4583,male
6,0,1,male,54.0,0,0,51.8625,S,First,True,Southampton,1,51.8625,male
7,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg,1,71.2833,female
8,1,3,female,27.0,0,2,11.1333,S,Third,False,Southampton,3,11.1333,female
9,1,2,female,14.0,1,0,30.0708,C,Second,False,Cherbourg,2,30.0708,female

#Q10. Satisfied customers

Given a dataframe below about customer review & ratings.



Return a subset of the dataframe with records having rating >= 6, containing the columns "profession", "gender" and "age" only.

In [2]:
df = pd.DataFrame({'name':["Sam","Roma","Mark"], "profession":['dev','mle','Data scientist'],"gender":['male','female','male'], "age":[21,20,25],"review":['No comments','hardworker','need improvement'],"rating":[10,5,7]})

In [5]:
df[df['rating'] >= 6][['profession','gender','age']]

       profession gender  age
0             dev   male   21
2  Data scientist   male   25

#Q11. Select the required data

Given the dataset of 10 car models and their respective features:

In [7]:
df = pd.read_csv('mtcars.csv')

In [9]:
df.loc[1:5,['hp','drat']]

    hp  drat
1  110  3.90
2   93  3.85
3  110  3.08
4  175  3.15
5  105  2.76

In [13]:
df.iloc[1:5,4:6]

    hp  drat
1  110  3.90
2   93  3.85
3  110  3.08
4  175  3.15

#Additional problemms

#Q1. Data Cleaning

Given a library dataframe containing records of books along with other relevant information,

Which of the following statements are true?

a. If we want to drop few columns that aren't useful for our analysis and say we store those column names in the list dropping_list, df.drop(dropping_list, inplace=True, axis=1) is the code to drop the columns in the dataframe itself.

b. df.drop(columns=dropping_list, inplace=False) is the code to drop all the columns which are present in the list dropping_list in the dataframe itself.

c. If the librarian wants to retrieve a certain record using labels but he observes that the index has duplicate values. We can fix this by first finding a column that doesn't have any duplicates (assume 'order_id' to be that column) using df['Order_id'].is_unique ; If this returns true, we can use this column "Order_id" for setting the labels for rows. (Refer to documentation of is_unique to know more)

d. By using the code, df.set_index('Order_id', inplace=True) we can update the index without creating any new dataframe.

#except B all are true

#Q3. The selected rows

Problem Description:

Given a dataframe containing transaction data sorted in order of transaction date, and row range r1 (start index) and r2 (end index).

Filter out the rows between r1 and r2 (r2 is exclusive).
Complete the function select_rows() to do the same, with dataframe and r1 and r2 values provided to the function.
Return only the "name" and "amt" columns from the filtered dataframe.

In [ ]:
df_selected = df.iloc[r1:r2,:]

# Select the columns "name" and "amt"
df_new = df_selected[['name','amt']]

#Q4. Employee records

Given a dataframe consisting of Name, employment_type, department, and p_id for employees.

Complete the function del_dupl() that

Deletes the records of a given name, where name is a string.
Deletes the duplicate p_id rows and keeps only the last entry as it contains the latest employment details of the candidate.
Deletes the column p_id as the organization is moving to another fintech app, and returns this dataframe.
There are no two people with the same p_id in the organization.
If there are records with the same p_id then it should be assumed that the person has updated their profile (designation) in the organization.

In [ ]:
def del_dupl(df,name):
    ''' df is a dataframe with columns ['Name', 'employment_type', 'department', 'p_id']
        name is a string.
        Output a dataframe is expected to be returned'''

    # YOUR CODE GOES HERE

    # delete the record with name
    ind = df[df['Name']==name].index
    df.drop(ind, inplace = True)

    # drop the column 'p_id'
    df.drop(['p_id'],axis=1,inplace=True)
    # drop the duplicates, preserving the last one with same name

    df.drop_duplicates(subset=['Name'],keep='last',inplace=True)
    return df

#Q5. Customers in an age range

Given a data frame as shown below, return the series of male names in the age group of 23-30 (inclusive of both 23 and 30).

In [ ]:
import pandas as pd
def specific_customers(df):
    ''' df is a dataframe with columns ['name', 'profession', 'gender', 'age', 'review', 'rating']
        Output -> A series with required names is expected to be returned'''
    # YOUR CODE GOES HERE

    # Select male professionals
    df_1 = df[df['gender']=='male']

    # Filter for age group 23-30
    df_new = df_1[df_1['age'].between(23,30)]

    return df_new['name']

#Q6. The island of slice

Given a dataframe containing records of student and their marks, and cutoff marks k

Return the name of students who scored marks >= k

In [ ]:
result = df[df['marks']>=k]['name']