<a href="https://colab.research.google.com/github/knagabharathi/Python/blob/main/Prbm_solving_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
b = 5.5

In [ ]:
def anybasemultiplication(A,B,C):

  def base_1(a,A):
    x = 0
    i=0
    while a >0:
      rem = a%10
      x += rem *(A**i)
      a //= 10
      i += 1

    return x

  def base_2(a,A):
    s =""
    while a > 0:
      a,rem = divmod(a,A)
      s = str(rem) +s

    return s

  l=[]
  l.append(B)
  l.append(C)
  m =[]
  for i in l:
    z = base_1(i,A)
    m.append(z)

  n = 1
  for k in m:
    n *= k

  z = base_2(n,A)
  if z == '':
    return 0
  else:
    return int(z)

anybasemultiplication(6,10,0)

In [ ]:
def AnyBaseAddition( A, B, C):


        def base_1(a,A):
            x = 0
            i = 0
            while a > 0:
                rem = a%10
                x += rem * (A**i)
                a //= 10
                i += 1
            return x

        def base_3(a):
          b = ""
          while a > 0:
            a,rem = divmod(a,3)
            b = str(rem) + b
          return b


        l =[]
        l.append(B)
        l.append(C)
        m=[]

        for i in l:
            z = base_1(i,A)
            m.append(z)

        s= sum(m)
        f = base_3(s)
        return int(f)



AnyBaseAddition(3,11,10)
AnyBaseAddition(4,22,121)
base_1(22,4) #10
base_1(121,4) # 1(16)+2(4)+1 = 25

base_3(35)

In [ ]:
def ceil_floor(m,n):
  x = []
  for i in a:
    if i == b:
      ceil = b
      floor = b
      x.append(ceil)
      x.append(floor)
      return x

  ceil = max(a)
  floor = min(a)

  for i in a:
    if i < b and i > floor:
      floor = i
    elif i > b and i < ceil :
      ceil = i
  x.append(ceil)
  x.append(floor)
  return x

In [ ]:
ceil_floor(a,b)

[6, 5]

In [ ]:
a = [-2,-2,4,4,4,4,8,9]
b = 4
x = []
s=[]
for i in range(len(a)):
  if a[i] == b:
    x.append(i)
s.append(max(x))
s.append(min(x))
print(s)

[5, 2]

In [ ]:
a = [3,1,0,2]
x = [0,0,0,0]
for i in range(len(a)):
  x[a[i]]=i
print(x)

[2, 1, 3, 0]

In [ ]:
x= []
x.insert(3,0)
x.insert(1,1)
#x.insert(0,2)
#x.insert(2,3)
print(x)

[0, 1]

In [ ]:
a = 12343212312311
b = 1
cnt = 0
for i in str(a):
  if i == str(b):
    cnt += 1
print(cnt)

5

In [ ]:
a = 12343212312311
b = 1

freq = str(a).count(str(b))
print(freq)

5

In [ ]:
y = []
b = 10221
c = 102
y.append(b)
y.append(c)

for j in y:
  x = str(j)[::-1]
  #print(int(x))
  l = 0
  cnt = 0
  for i in x:
    cnt += (int(i)*3**j)
    l += 1

print(cnt)

13915193059764305937984450503671774362956903094027

In [ ]:
y = []
b = 10221
c = 102
y.append(b)
y.append(c)
print(y)

for i in y:
  x = str(i)[::-1]
  l =0
  for j in x:
    cnt += int(j)*(3**l)
    l+=1
print(cnt)

[10221, 102]
13915193059764305937984450503671774362956903094261

In [ ]:
import math

def bmi(A,B):
        x=B
        y= A/100
        bmi = round((x/(y*y)),1)
        if bmi < 18.5:
            print ("Underweight")

        elif bmi>=18.5 and bmi< 24.9:
            print ( "Normal")

        elif bmi>=24.9 and bmi< 29.9:
            print ( "Overweight")

        elif bmi > 29.9:
            print ( "Obese")
        print(bmi)

In [ ]:
A = 4
B = 2
s= ""

while A > 0:
  rem = A%B
  s += str(rem)
  A //=B
  rev = s[::-1]

print(int(rev))

100

In [ ]:

l = [6,21]
s = []
for a in l:
  b = 3
  m = 0
  val = 0
  rev_a = str(a)[::-1]
  for i in rev_a:
    val += int(i)*b**m
    m+= 1
  s.append(val)
mul = 1
for j in s:
  mul *= j
print(mul)
print(b)

c= 0
p=""
while mul > 0:
  rem = mul%b
  p += str(rem)
  mul //= b
rev_p = p[::-1]
print(int(rev_p))

12
3
110

In [ ]:

def AnyBaseMultiplication( A, B, C):
    l = []
    l.append(B)
    l.append(C)
    s=[]
    for a in l:
        b = A
        m = 0
        val = 0
        rev_a = str(a)[::-1]
        for i in rev_a:
            val += (int(i)*b**m)
            m+= 1
        s.append(val)
        mul = 1
        for j in s :
            mul*= j

        c= 0
        p = ""
        while mul > 0:
            rem = mul%b
            p += str(rem)
            mul //= b
        rev_p = p[::-1]
        return int(rev_p)


AnyBaseMultiplication(6,21,3)

21

In [ ]:
'''B = 11
  C = 10
  A = 3'''

a = 11
b = 3
m = 0
val = 0
s=[]
rev_a = str(a)[::-1]
print(rev_a)
for i in rev_a:
    val += (int(i)*b**m)
    m+= 1
s.append(val)
print(s)
mul = 1
for j in s :
    mul*= j

print(mul)

11
[4]
4

In [ ]:
a =[1,1,1,2,5,8,10]
b = 4

def solve( a, b):
    #s = A.split(' ')
    #x = [int(i) for i in s]

    for j in a:
        y =[]
        if j == b :
            y.append(b)
            y.append(b)
            return y


    ceil = max(a)
    floor = min(a)
    x = []
    for i in a:
        if i < b and i > floor:
            floor = i
        elif i > b and i < ceil :
            ceil = i
    x.append(ceil)
    x.append(floor)
    return x


solve(a,b)

[5, 2]

In [ ]:
x = [1,2,3,4,5]

y = x.pop()
x.insert(0,y)
print(x)

[5, 1, 2, 3, 4]

In [ ]:
x = [10,20,30,30,30,50]
y = 30
m = []
for i in range(len(x)):
  if x[i] == y:
    m.append(i)

print(m)

[2, 3, 4]

In [ ]:
a = [1,2,3]
b =[6,4,5]
#a.append(b)
a.extend(b)
print(a)

[1, 2, 3, 6, 4, 5]

In [ ]:
a = [3,1,0,2]

inv= [0]*len(a)

for i in range(len(a)):
  inv[a[i]]  = i
print(inv)

[2, 1, 3, 0]

In [ ]:
x =[[1,2,3],[4,5,6],[7,8,9]]

for i in x:
  for j in i:
    print(j,end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
def sum_mat(a):

  m = 0
  for i in x:
    for j in i:
      m += j
  return m

In [ ]:
x =[[1,2,3],[4,5,6],[7,8,9]]
def sum_eachrow(a):
  m = 0
  row = len(a)
  column = len(a[0])
  for i in range(row):
    for j in range(column):
      m += x [i][j]
    print(m)
    m = 0

sum_eachrow(x)

6
15
24

In [ ]:
x =[[1,2,3],[4,5,6],[7,8,9]]
def sum_eachcolumn(a):
  row = len(a)
  col = len(a[0])

  for j in range(col):
    sum_col = 0

    for i in range(row):
      sum_col += a[i][j]

    print('sum of column',j,'=',sum_col)

sum_eachcolumn(x)

sum of column 0 = 12
sum of column 1 = 15
sum of column 2 = 18

In [ ]:
x =[[1,2,3],[4,5,6],[7,8,9]]
sum_mat(x)
sum_eachrow(x)

6
15
24