<a href="https://colab.research.google.com/github/knagabharathi/Python/blob/main/Tuple_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 8
b = 9

c = a
a = b
b = c
print(a,b)

9 8

In [5]:
a= 1,2,3,4,5
a
type(a)

tuple

In [8]:
a = "canacjansjackjackabc"

b= set(a)
cnt = 0
for i in b:
  cnt += 1
print(cnt)

7

In [9]:
a = "canacjansjackjackabc"

b= set(a)
len(b)

7

In [2]:
a= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

s=[]
x=[]
for i in range(len(a)):
  if i%2 == 0 :
    s.append(a[i])
  else:
    x.append(a[i])

s1= tuple(s)
s2=tuple(x)
print(s1)
print(s2)

(10, 5, 10, 10, 5, 8)
(8, 2, 15, 8, 8, 2)

In [3]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [6]:
tuple1[0]= 50
print(tuple[0])

NameError: ignored

In [7]:
tuple1= (1150,'sealevel',909)
print(max(tuple1))

TypeError: ignored

In [8]:
fruit= ("Orange")
type(fruit)

str

In [9]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [10]:
s = set('Scaler', 'Academy', 'is', 'Awesome')

TypeError: ignored

In [12]:
s ={'Scaler', 'Academy', 'is', 'Awesome'}
s

{'Academy', 'Awesome', 'Scaler', 'is'}

In [14]:
s = set(['Scaler', 'Academy', 'is', 'Awesome'])
s

{'Academy', 'Awesome', 'Scaler', 'is'}

In [17]:
s = set('Scaler Academy is Awesome')
s

{' ', 'A', 'S', 'a', 'c', 'd', 'e', 'i', 'l', 'm', 'o', 'r', 's', 'w', 'y'}

In [29]:
sets = {3, 4, 5}
sets = sets.union({1, 2, 3})
print(sets)

{1, 2, 3, 4, 5}

In [30]:
a={'Aurn', 'Nikhil', 'Seeta'}
a[0]= 'Arun'
print(a)

TypeError: ignored

In [32]:
a= {'use', 'process', 'create', 'better', 'analysis', 'in', 'it', 'further', 'and', 'we', 'data', 'interpreted', 'to'}
b={'collected', 'more', 'be', 'and', 'data', 'passively', 'will'}

len(a)

13

In [36]:
a="in data analysis we use data and process it further to create better interpreted datamore and more data will be passively collected"
x= a.split(" ")
len(x)

22

In [37]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: ignored

In [8]:
a = "in data analysis we use data and process it further to create better interpreted data"
b ="more and more data will be passively collected"
x=a.split(" ")
y = b.split(" ")
len(set(x))+len(set(y))

20

In [13]:


def ind(a,b):
  for i in range(len(a)):
    if a[i] == b:
      return i
  return -1

a=(10, 20, 30, 40, 50)
b =30
ind(a,b)

2